<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<title>Gamingaddicted</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!-- estilos para el datatable -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	
	<!-- lib para el datatable -->
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	
</head>

<body>
	<div id="contenedor" style="margin-left: 20%; width: 60%;">
	<h1>Listar - Ediciones</h1>
	<table class="table" id="myTable">
		<thead>
		    <tr>
		    	<th scope="col">Id Edicion</th>
		      	<th scope="col">Nombre</th>
		      	<th scope="col">Descripción</th>
			    <th scope="col"> </th>
		    </tr>
	  	</thead>
	  	<tbody>
	    	<tr th:each="p:${lstEdiciones}">
		      	<td th:text="${p.idedicion}"> </td>
		      	<td th:text="${p.nombre}"> </td>
		      	<td th:text="${p.descripcion}"> </td>
		      	<td width="120px" style="display:flex;margin:auto;">
		      		<form method="post" th:action="@{/buscarEdicion}">
		      			<input type="hidden" name="idedicion" th:value="${p.idedicion}">
		      			<button type="submit" class="btn btn-primary">Editar</button>
		      		</form>
		      		&nbsp
		      		<form method="post" th:action="@{/eliminarEdicion}">
		      			<input type="hidden" name="idedicion" th:value="${p.idedicion}">
		      			<button type="submit" class="btn btn-danger">Eliminar</button>
		      		</form>
		      		
		      	</td>
	    	</tr>
	  	</tbody>
	</table>
	
	</div>
	
</body>
<script>
	$(document).ready( function () {
	    $('#myTable').DataTable();
	} );
</script>
</html>