<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- estilos para el datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<!-- lib para el datatable -->
<script src="https:////cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>

	<div id="contenedor" style="margin-left: 10%; width: 80%;">

		<h1>Listado de Generos de Juegos</h1>

	
		<table   class="table table-hover" id="myTable">
  <thead>
    <tr>
      <th  >Codigo</th>
      <th  >Genero</th>
      <th  >Plataforma</th>
      <th  >Clasificacion</th>
      <th  >Edicion</th>
      <th  >titulo</th>
      <th  >Descripcion</th>
      <th  >anio</th>
      <th  >stock</th>
      <th  >precio</th>
      <th  >estado</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each= "p : ${lstJuegos}">
      <th th:text="${p.idjuego}"  ></th>
      <td th:text="${p.idgenero}"></td>
      <td th:text="${p.idplataforma}"></td>
       <th th:text="${p.idclasificacion}"  ></th>
      <td th:text="${p.idedicion}"></td>
      <td th:text="${p.titulo}"></td>
       <th th:text="${p.descripcion}"  ></th>
      <td th:text="${p.anio}"></td>
      <td th:text="${p.stock}"></td>
       <td th:text="${p.precio}"></td>
      <td th:text="${p.estado}"></td>
      
      
      <td>
      <form method="post" th:action="@{/buscarJuego}" >
	  <input type="hidden" name="idjuego" th:value=${p.idjuego}  >
	  <button type="submit" class="btn btn-info">Editar</button>
	  </form>
      </td>
      
      <td>
      <form method="GET" th:action="@{/eliminarJue}" >
	  <input type="hidden" name="idjuego" th:value=${p.idjuego}  >
	  <button type="submit" class="btn btn-info">Eliminar</button>
	  </form>
	  
      </td>
    </tr>
    
  </tbody>
</table>
	</div>
<form  method="post" th:action="@{/buscarJuego}" >
	  <input type="hidden" name="idjuego" th:value=1 >
	  <button type="submit" class="btn btn-info">Registrar Juego</button>
	</form>
</body>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
</html>