<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

	<div id="contenedor" style="margin-left: 10%; width: 80%;">
		<h1>Mantenimiento de Juegos</h1>
		<form  method="POST" th:action="@{/grabar}">

			<div class="form-group">			
				<label for="idGenero">Genero</label>
				<select    class="form-control" id="idGenero">
					      <option th:value="1 " th:text="FPS"></option>
					      <option th:value="2"  th:text="RTS"></option>
					      <option th:value="3"  th:text="MOBA"></option>
					      <option th:value="4 " th:text="RPG"></option>
					      <option th:value="5"  th:text="MMO"></option>
					      <option th:value="6"  th:text="Battle_Royale"></option>
					      <option th:value="7 " th:text="Deportes"></option>
					      <option th:value="8"  th:text="Acción"></option>
					      <option th:value="9"  th:text="Aventura"></option>
					      <option th:value="10 " th:text="Plataformas"></option>
					      <option th:value="12"  th:text="Conduccion"></option>
					      <option th:value="13"  th:text="Combate"></option>
					    </select>
			</div>
			<div class="form-group">
				<label for="idPlataforma">PLataforma</label>
				<select    class="form-control" id="idPlataforma">
					      <option th:value="1 " th:text="PS4"></option>
					      <option th:value="2"  th:text="Xbox_One"></option>
					      <option th:value="3"  th:text="Nintendo"></option>
					      <option th:value="4"  th:text="PC"></option>
					    </select>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="idClasificacion">Clasificacion</label>
					<select    class="form-control" id="idClasificacion">
					      <option th:value="1" th:text="EC "></option>
					      <option th:value="2"  th:text="E"></option>
					      <option th:value="3"  th:text="E_10"></option>
					      <option th:value="4"  th:text="T"></option>
					      <option th:value="5"  th:text="M"></option>
					      <option th:value="6"  th:text="AO"></option>
					    </select>
				</div>
			</div>
				
			<div class="form-row">

				<div class="form-group col-md-4">
					<label for="idEdicion">Edicion</label>
					<select    class="form-control" id="idEdicion">
					      <option th:value="1 " th:text="1ra"></option>
					      <option th:value="2"  th:text="2da"></option>
					      <option th:value="3"  th:text="3ra"></option>
					      <option th:value="4"  th:text="4ta"></option>
					      <option th:value="5"  th:text="5ta"></option>
					      
					    </select>
				</div>

				<div class="form-group col-md-4">
					<label for="IdNombre">Nombre</label>
					<input type="text" class="form-control" id="IdNombre" placeholder="Nombre del Videojuego">
				</div>
				
				<div class="form-group col-md-4">
					<label for="IdDescrip">Descripcion</label>
					<input type="text" class="form-control" id="IdDescrip" placeholder="Descripcion del Videojuego">
				</div>
				
				<div class="form-group col-md-4">
					<label for="IdFecha">Fecha</label>
					<input type="date" class="form-control" id="IdFecha" placeholder="Descripcion del Videojuego">
				</div>
				<div class="form-group col-md-4">
					<label for="IdStock">Stock</label>
					<input type="number" class="form-control" id="IdStock" placeholder="Stock del producto">
				</div>
				<div class="form-group col-md-4">
					<label for="IdPrecio">Precio</label>
					<input type="number" class="form-control" id="IdPrecio" placeholder="Precio del producto">
				</div>
				<div class="form-group col-md-4">

					<label for="idEstado">Estado</label>
					<select    class="form-control" id="idEstado">
					      <option th:value="1" th:text="Disponible"></option>
					      <option th:value="2" th:text="No_Disponible"></option>
					      
					 </select>
					

				</div>

			</div>
			<button type="submit" class="btn btn-primary">Editar</button>
			<a th:href="@{/listado}" class="btn btn-primary">Listado</a>

		</form>

	</div>

</body>
</html>