<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

	<div id="contenedor" style="margin-left: 10%; width: 80%;">
		<h1>Mantenimiento de Juegos</h1>
		<form  th:object="${Juego}" method="POST" th:action="@{/RgstJuegos}">

				
			<div class="form-group">			
				<label for="idgenero">Genero</label>
				<select th:field="*{idgenero}"   class="form-control" id="exampleFormControlSelect1">
					      <option  th:each="t: ${ListGenJuego}" 
					      th:value="${t.idgenero}" th:text="${t.nombre}"
					      ></option>
					     
					 </select>
				
					    
			</div>
			
			<div class="form-group">
				<label for="idplataforma">PLataforma</label>
				<select th:field="*{idplataforma}"   class="form-control" id="exampleFormControlSelect1">
					      <option  th:each="t: ${ListPlataform}"  
					      th:value="${t.idplataforma}" th:text="${t.nombre}"
					      ></option>
					     
					 </select>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="idClasificacion">Clasificacion</label>
					<select th:field="*{idclasificacion}"   class="form-control" id="exampleFormControlSelect1">
					      <option  th:each="t: ${ListClasifi}" 
					      th:value="${t.idclasificacion}" th:text="${t.Nombre}"
					      ></option>
					     
					 </select>
				</div>
			</div>
				
			<div class="form-row">

				<div class="form-group col-md-4">
					<label for="idEdicion">Edicion</label>
					<select th:field="*{idedicion}"   class="form-control" id="exampleFormControlSelect1">
					      <option  th:each="t: ${ListEdicion}" 
					      th:value="${t.idedicion}" th:text="${t.nombre}"
					      ></option>
					     
					 </select>
				</div>

				<div class="form-group col-md-4">
					<label for="IdNombre">Titulo</label>
					<input type="text" th:field="*{titulo}" class="form-control" id="IdNombre" placeholder="Nombre del Videojuego">
				</div>
				
				<div class="form-group col-md-4">
					<label for="IdDescrip">Descripcion</label>
					<input type="text" th:field="*{descripcion}" class="form-control" id="IdDescrip" placeholder="Descripcion del Videojuego">
				</div>
				
				<div class="form-group col-md-4">
					<label for="IdFecha">Fecha</label>
					<input type="date" th:field="*{anio}" class="form-control" id="IdFecha" placeholder="Descripcion del Videojuego">
				</div>
				<div class="form-group col-md-4">
					<label for="IdStock">Stock</label>
					<input type="number"  th:field="*{stock}"class="form-control" id="IdStock" placeholder="Stock del producto">
				</div>
				<div class="form-group col-md-4">
					<label for="IdPrecio">Precio</label>
					<input type="number" th:field="*{precio}" class="form-control" id="IdPrecio" placeholder="Precio del producto">
				</div>
				<div class="form-group col-md-4">

					<label for="idEstado">Estado</label>
					<select  th:field="*{estado}"  class="form-control" id="idEstado">
					      <option th:value="1" th:text="Disponible"></option>
					      <option th:value="2" th:text="No_Disponible"></option>
					      
					 </select>
					

				</div>

			</div>
			<button type="submit" class="btn btn-primary">Registrar</button>
			<a th:href="@{/listJuegos}" class="btn btn-primary">Listado</a>

		</form>

	</div>
	<c:if test="${not empty mensaje}">
      <div class="alert alert-info" th:text="${mensaje}"> </div>
 </c:if>

</body>
</html>