<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

	<div id="contenedor" style="margin-left: 10%; width: 80%;">
		<h1>Registro Generos Juegos</h1>
		<form  method="POST" th:action="@{/grabar}">

			
				
			<div class="form-row">

				
				<div class="form-group col-md-4">
					<label for="IdNombre">Nombre</label>
					<input type="text" class="form-control" id="IdNombre" placeholder="Nombre del Videojuego">
				</div>
				
				<div class="form-group col-md-4">
					<label for="IdDescrip">Descripcion</label>
					<input type="text" class="form-control" id="IdDescrip" placeholder="Descripcion del Videojuego">
				</div>
				
				

			</div>
			<button type="submit" class="btn btn-primary">Registrar</button>
			<a th:href="@{/listGenJuegos}" class="btn btn-primary">Listado</a>

		</form>

	</div>

</body>
</html>